.App {
  width: 1024px;
  margin: 0 auto;
}

input {
  width: 75%;
  padding: 25px;
  margin: 50px 0;
}

#add {
  padding: 25px;
}

.toDos-div {
  display: flex;
  flex-direction: column;
}

.toDos-item {
  width: 100%;
  border: 2px solid black;
  text-align: start;
  padding-left: 15px;
  position: relative;
}

.toDos-item button {
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 3%;
  top: 25%;
  background: red;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.person {
  display: inline-block;
}

